    body{
        background-color: white;
    }

    html{
        scroll-behavior: smooth;
    }

    .UpBar{
        position: absolute;
        background-color: #F99417;
        top: -5px;
        left: -0.5px;
        width: 100%;
        height: 5em;
        border-bottom: solid 1px black;
        z-index: 2;
        user-select: none;
    }

    .BottomBar{
        position: absolute;
        background-color: #363062;
        top: 75px;
        left: -0.5px;
        width: 100%;
        height: 3em;
        z-index: 1;
    }

    .Kart{
        font-size: 36px;
        color: black;
        position: absolute;
        width: 40px;
        height: 40px;
        left: 1254px;
        top: 23px;
        z-index: 5;
    }
    
    #bi{
        font-size: 36px;
        color: black;
        position: absolute;
        left: 1255px;
        top: 21px;
    }

    .QuantiCompras {
        position: absolute;
        font-size: 24px;
        top: -9px;
        left: 1270px;
        font-family: Arial, Helvetica, 'sans-serif';
        text-overflow: ellipsis;
        max-width: 150px;
        width: 2.1%;
        text-align: center;
        border-radius: 24px;
        background-color: white;
    }

    .User{
        font-size: 40px;
        color: black;
        position: relative;
        left: 1000px;
        top: 20px;
        right: 0px;
        align-items: center;
        white-space: nowrap;
    }

    .User p{
        position: absolute;
        font-size: 24px;
        top: -17px;
        left: 50px;
        font-family: Arial, Helvetica, 'sans-serif';
        text-overflow: ellipsis;
        max-width: 150px; 
        word-break: break-word;
    }

    .search{
        position: absolute;
        left: 620px;
        top: 30px;
    }

    input[type="text"]{
        width: 350px;
        height: 50px;
        font-size: 16px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        transition: 0.5s;
        position: absolute;
        top: -15px;
        left: -150px;
        z-index: 4;
    }
    
    .search button {
        width: 50px;
        height: 50px;
        background-color: white;
        color: black;
        margin: 7px 0;
        border: none;
        cursor: pointer;
        position: absolute;
        top: -22px;
        left: 200px;
        z-index: 3;
    }

    .search button i{
        font-size: 22px;
        position: relative;
    }

    .userBorder{
        border: solid 2px white;
        border-radius: 45px;
        background-color: white;
        position: absolute;
        width: 45px;
        height: 45px;
        top: -3px;
        left: -5px;
    }

    .tremImg{
        position: absolute;
        width: 170px;
        height: auto;
        top: -5px;
        left: 20px;
    }

    .linha{
        position: absolute;
        width: 0px;
        height: 43px;
        border: solid 1px rgb(15, 15, 15);
        top: 20px;
        left: 1220px;
    }

    .cBook{
        position: absolute;
        font-family: Arial, Helvetica, 'sans-serif';
        font-size: 19px;
        left: 1020px;
        top: 14px;
        text-decoration: none;
        letter-spacing: 0.7px;
        color: white;
    }

    .cards-container {
        display: flex;
        gap: 1em; /* espaço entre os cards */
        flex-wrap: wrap; /* permite que os cards quebrem para a próxima linha quando não houver espaço */
        padding: 1em;
      }

    .card {
        position: relative;
        top: 190px;
        left: 50px;
        width: 11.875em;
        height: 16.5em;
        box-shadow: 0px 1px 13px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: all 120ms;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 0.5em;
        padding-bottom: 3.4em;
    }

    .card::after {
        content: "Add to Cart";
        padding-top: 1.25em;
        padding-left: 1.25em;
        position: absolute;
        left: 0;
        bottom: -60px;
        background: #00AC7C;
        color: #fff;
        height: 2.5em;
        width: 90%;
        transition: all 80ms;
        font-weight: 600;
        text-transform: uppercase;
        opacity: 0;
    }

    .card .title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        position: absolute;
        left: 0.625em;
        bottom: 1.875em;
        font-weight: 400;
        color: #000;
    }

    .card .price {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 0.9em;
        position: absolute;
        left: 0.625em;
        bottom: 0.625em;
        color: #000;
    }

    .card:hover::after {
        bottom: 0;
        opacity: 1;
    }

    .card:active {
        transform: scale(0.98);
    }

    .card:active::after {
        content: "Added !";
        height: 3.125em;
    }

    .image {
        background: rgb(241, 241, 241);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
  